.card{
    margin:20px;
    padding:20px;
    justify-content:center;

}

.card-img-top{
    width:600px;
    height:200px;
}
div img{
    padding-left: 0px;
    
}
.card-img-next{
    margin-left: 50px;
    margin-right:30px;
    margin-bottom: 50px;
}
.intro{
    justify-content: center;
    margin-left: 50px;
}

.card-container{
     display: grid;
    
    grid-template-columns: 1fr 1fr;
    
    gap: 20px;
    
    max-width: 1200px;
    margin: 0 auto;
}

.card {
   
    width: 100%;
}
.card-container {
    
    display: flex; 
    
    justify-content: space-around;
    
    flex-wrap: wrap; 
    
    margin-top: 20px;
}

.card {
    
    width: 25rem; 
    margin: 15px; 
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .card-container {
     
        flex-direction: column; 
        
        align-items: center; 
    }
    
    .card {
         width: 90%;
        margin-bottom: 20px; 
    }
}